@font-face {
    font-family: 'Audimat';
    src: url('../fonts/audimb__-webfont.eot');
    src: url('../fonts/audimb__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/audimb__-webfont.woff2') format('woff2'),
         url('../fonts/audimb__-webfont.woff') format('woff'),
         url('../fonts/audimb__-webfont.ttf') format('truetype'),
         url('../fonts/audimb__-webfont.svg#audimat_monobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;

}

body{
	font-family: Audimat;
	background: black;
	color: blue;
}

#watch{
	display: inline-block;
	margin: 20px 150px 0 436px;
	width: 500px;
	height: 180px;
	border-radius: 30px;
	text-align: center;
	box-sizing: border-box;
}

button{
	margin: 20px 0 0 5px;
	width: 180px;
	height: 180px;
	border-radius: 30px;
	text-align: center;
	box-sizing: border-box;
	font-size: 35px;
	outline: none;
	background: transparent;
	color: blue;
	border: none;
}

span{
	line-height: 180px;
	font-size: 75px;
	text-shadow: 0px 0px 10px blue;
}

#stop{
	display: none;
}

button:hover{
	text-shadow: 0px -5px 18px blue;
	box-shadow: 0px 0px 10px blue;
}

#watch2{
	margin: 20px 0 0 440px;
	width: 500px;
	border-radius: 30px;
	text-indent: 35px;
	box-sizing: border-box;
	font-size: 30px;
	text-shadow: 0px 0px 10px blue;
}